:root {
  --bg-color: #f7f5fa;
  --text-purple: #772fa5;
  --text-yellow: #ffc149;
  --cherry-font-family: "Cherry Bomb One";
  --gilroy-font-family: "Gilroy";
}

.color-white {
  background: var(--bg-color);
}

.color-yellow {
  color: var(--text-yellow);
}

.cherry {
  font-family: var(--cherry-font-family);
}

.gilroy {
  font-family:  var(--gilroy-font-family);
}

.bg-position {
  background-position: right;
  background-size: cover;
}

.corgi {
  position: absolute;
  bottom: 30px;
}

@media only screen and (min-width: 640px) and (orientation: landscape) { 

  .bg-position{
    background-position: -45vw;
    background-size: 100% 100vh;
  }

  .corgi {
    width: 40%;
    right: 0;
    
  }

}

