:root {
  --color-white: #f7f5fa;
  --color-purple: #772fa5;
  --color-yellow: #ffc149;
  --cherry-font-family: "Cherry Bomb One";
  --gilroy-font-family: "Gilroy";
}

.bg-white {
  background: var(--color-white);
}

.font-responsive {
  font-size: clamp(14px, 1vw, 45px);
}

.font-responsive-c1 {
  font-size: clamp(9px, 2.1rem, 48px);
}

.logo-responsive {
  height: clamp(60px, 1vw, 120px);
}

.bg-purple {
  background: var(--color-purple);
}

.color-white {
  color: var(--color-white);
}

.color-yellow {
  color: var(--color-yellow);
}

.color-purple {
  color: var(--color-purple);
}

.cherry {
  font-family: var(--cherry-font-family);
}

.gilroy {
  font-family: var(--gilroy-font-family);
}

.bg-position {
  background-position: right;
  background-size: auto 100vh;
}

.corgi {
  position: absolute;
  bottom: 30px;
}

.mobile {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 120px 0 10px 0;
  border-radius: 0 0 0.5rem 0.5rem;
  background: #1d1d1dd8;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

#menu.mobile #nav{
  flex-direction: column;
}

@media only screen and (min-width: 1023px) {

  .bg-position {
    background-size: auto 100vh;
  }

}

@media only screen and (min-width: 640px) and (orientation: landscape) {

  .bg-position {
    background-position: -40vw;
    background-size: 100% 100vh;
  }

  .corgi {
    width: 40%;
    right: 0;
  }

  #menu {
    display: flex;
  }

  .btn-menu {
    display: none;
  }

}